Hmj.WebApp/Service References/DicountService/zbd_loy_welfare.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__zbd_loy_welfare">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__zbd_loy_welfare_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_LOY_WELFARE">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>005056B169DC1ED5A3B339AD977200BD</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__Z_CRM_LOY_WELFARE">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr11.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="11" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="ZST_LOY_WELFARE">
        <xsd:sequence>
          <xsd:element name="ZCPTYPE" type="tns:char2" />
          <xsd:element name="ZCPTYPET" type="tns:char20" />
          <xsd:element name="ZCPMATNR" type="tns:char10" />
          <xsd:element name="ZCPNAME" type="tns:char60" />
          <xsd:element name="ZCPMS" type="tns:char255" />
          <xsd:element name="ZCPIDO" type="tns:char15" />
          <xsd:element name="ZCPSTATE" type="tns:char3" />
          <xsd:element name="ZCPVALUE" type="tns:curr11.2" />
          <xsd:element name="ZCPSTA" type="tns:date10" />
          <xsd:element name="ZCPEND" type="tns:date10" />
          <xsd:element name="ZCPCHANNEL" type="tns:string" />
          <xsd:element name="ZCPSTORE" type="tns:string" />
          <xsd:element name="ZWMATNR" type="tns:char18" />
          <xsd:element name="ZCPSERNR" type="tns:char18" />
          <xsd:element name="ZCPLOY" type="tns:char10" />
          <xsd:element name="ZCPPRICE" type="tns:curr11.2" />
          <xsd:element name="ZCPSCENE" type="tns:char255" />
          <xsd:element name="ZCPMULTICK" type="tns:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZST_COUPON_RETURN">
        <xsd:sequence>
          <xsd:element name="ID" type="tns:numeric3" />
          <xsd:element name="TYPE" type="tns:char1" />
          <xsd:element name="MESSAGE" type="tns:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZTT_LOY_WELFARE">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZST_LOY_WELFARE" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZTT_COUPON_RETURN">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZST_COUPON_RETURN" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Z_CRM_LOY_WELFARE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="IV_ZCPIDO" type="tns:char15" />
            <xsd:element minOccurs="0" name="IV_ZCPLOY" type="tns:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_CRM_LOY_WELFAREResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_LOY_WELFARE" type="tns:ZTT_LOY_WELFARE" />
            <xsd:element name="ET_RETURN" type="tns:ZTT_COUPON_RETURN" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Z_CRM_LOY_WELFARE">
    <wsdl:part name="parameters" element="tns:Z_CRM_LOY_WELFARE" />
  </wsdl:message>
  <wsdl:message name="Z_CRM_LOY_WELFAREResponse">
    <wsdl:part name="parameter" element="tns:Z_CRM_LOY_WELFAREResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_LOY_WELFARE">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://HDLCRMQAS.hengdeligroup.local:8000/sap/bc/esdt/docu/sd_text?sap-client=710&amp;sd_name=ZWS_LOY_WELFARE" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_LOY_WELFARE" />
    </wsp:Policy>
    <wsdl:operation name="Z_CRM_LOY_WELFARE">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__Z_CRM_LOY_WELFARE" />
      </wsp:Policy>
      <wsdl:input message="tns:Z_CRM_LOY_WELFARE" />
      <wsdl:output message="tns:Z_CRM_LOY_WELFAREResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="zbd_loy_welfare" type="tns:ZWS_LOY_WELFARE">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__zbd_loy_welfare" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_CRM_LOY_WELFARE">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_LOY_WELFARE:Z_CRM_LOY_WELFARERequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="zbd_loy_welfare_soap12" type="tns:ZWS_LOY_WELFARE">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__zbd_loy_welfare_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_CRM_LOY_WELFARE">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_LOY_WELFARE:Z_CRM_LOY_WELFARERequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="zws_loy_welfare">
    <wsdl:port name="zbd_loy_welfare" binding="tns:zbd_loy_welfare">
      <soap:address location="http://HDLCRMQAS.hengdeligroup.local:8000/sap/bc/srt/rfc/sap/zws_loy_welfare/710/zws_loy_welfare/zbd_loy_welfare" />
    </wsdl:port>
    <wsdl:port name="zbd_loy_welfare_soap12" binding="tns:zbd_loy_welfare_soap12">
      <wsoap12:address location="http://HDLCRMQAS.hengdeligroup.local:8000/sap/bc/srt/rfc/sap/zws_loy_welfare/710/zws_loy_welfare/zbd_loy_welfare" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>